<title> Party Game Chat</title>
<center>
<h2>Party Game Chat</h2>

<div>
  Enter message: <input id="new_message_text" maxlength="200">
  <button id="send_new_message">Send</button>
  <button id="clear_message_list_button">clear messages</button>
</div>

<div>
  <ul id="message_list">
</div>
</center>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='client.js') }}"></script>